fastapi[standard]
pytest==8.4.2
email-validator==2.3.0
python-dotenv==1.2.1
requests==2.32.5
pydantic==2.12.3
fastapi-pagination==0.15.0
uvicorn==0.38.0
jsondiff==2.2.1
psycopg2-binary==2.9.11
sqlalchemy==2.0.44
sqlmodel==0.0.27
faker==37.12.0